body{
    margin: 5px;
    padding: 10px;

}
h1{
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
}
input{
    border-color: rgb(158, 147, 147);
    border-width: 3px;
}
.div_form{
    display: flex;
    justify-content: center;
    background-color: white;
}
.button2{
    margin-left:20px;
    border-radius: 5px;
    background-color:black;
    color: white;
    margin-top: 25px;
}
.button1{
    margin-left:20px;
    border-radius: 5px;
    background-color:black;
    color: white;
    margin-top: 25px;
}
.button2:hover{
    background-color: rgb(225, 21, 21);
    color: rgb(255, 255, 255);
    border-color: rgb(218, 25, 25);
}
.button1:hover{
    background-color: green;
    color: azure;
    border-color: azure;
    border-color: greenyellow;
}
.button1:focus{
    background-color: blue;
}
.button2:focus{
    background-color: blue;
    border-color: rgb(100, 100, 211);
}
td{
    padding: 7px;
}
